@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "ExpoArabic" , sans-serif;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #203353;
  color: #fff;
}

*::selection {
  background-color: #203353;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #203353;
}

*::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#F5B316), to(#203353));
  background: linear-gradient(180deg, #F5B316, #203353);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#203353), to(#F5B316));
  background: linear-gradient(180deg, #203353, #F5B316);
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: #203353;
  opacity: .5;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #203353;
  opacity: 1;
}

.overflowNone {
  overflow: hidden;
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes pulsecust {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulsecust {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulsecustOpacity {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: .3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }
}

@keyframes pulsecustOpacity {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: .3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }
}

@-webkit-keyframes pulse-shadow {
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
            box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}

@keyframes pulse-shadow {
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
            box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(1, 1, 1);
            transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
            transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(1, 1, 1);
            transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
            transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@-webkit-keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}

@-webkit-keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}

@keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@-webkit-keyframes storm {
  0% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
            transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    -webkit-transform: translate3d(4px, 0, 0) translateZ(0);
            transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    -webkit-transform: translate3d(-3px, 0, 0) translateZ(0);
            transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    -webkit-transform: translate3d(2px, 0, 0) translateZ(0);
            transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
            transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@keyframes storm {
  0% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
            transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    -webkit-transform: translate3d(4px, 0, 0) translateZ(0);
            transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    -webkit-transform: translate3d(-3px, 0, 0) translateZ(0);
            transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    -webkit-transform: translate3d(2px, 0, 0) translateZ(0);
            transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
            transform: translate3d(0, 0, 0) translateZ(0);
  }
}

:root {
  --pirmary: #203353;
  --secondary: #F5B316;
}

.button-contain .btn-shape {
  width: 150px;
  height: 50px;
  background-color: var(--secondary);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 9;
  overflow: hidden;
}

.button-contain .btn-shape::after, .button-contain .btn-shape::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  left: 0px;
  background-color: var(--pirmary);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: -1;
}

.button-contain .btn-shape::before {
  top: 0;
}

.button-contain .btn-shape::after {
  bottom: 0;
}

.button-contain .btn-shape img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  -webkit-filter: invert(91%) sepia(64%) saturate(6636%) hue-rotate(191deg) brightness(141%) contrast(100%);
          filter: invert(91%) sepia(64%) saturate(6636%) hue-rotate(191deg) brightness(141%) contrast(100%);
}

.button-contain .btn-shape span {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.button-contain .btn-shape:hover::after, .button-contain .btn-shape:hover::before {
  height: 55%;
}

.button-contain .btn-shape:hover img {
  -webkit-animation: storm .3s linear both;
          animation: storm .3s linear both;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.heading img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.heading h1 {
  color: var(--pirmary);
  font-size: 35px;
  font-weight: 900;
  margin: 20px 0px;
}

.heading p {
  color: #808080;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

.navbar {
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.navbar.scrolled {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(32, 51, 83, 0.3);
          box-shadow: 0px 0px 10px rgba(32, 51, 83, 0.3);
}

.navbar.scrolled .brand-name img {
  height: 70px !important;
}

.navbar.scrolled .navbar-nav .nav-item .nav-link {
  color: #000;
}

.navbar .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .content .hamburger {
  display: none;
}

.navbar .content .hamburger .line {
  width: 30px;
  height: 3px;
  background-color: var(--pirmary);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .content .hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .content .hamburger.active .line:nth-child(2) {
  width: 0px;
}

.navbar .content .hamburger.active .line:nth-child(1), .navbar .content .hamburger.active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.navbar .content .hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(6.5px);
          transform: translateY(6.5px);
}

.navbar .content .hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(90deg);
          transform: translateY(-15px) rotate(90deg);
}

.navbar .content .brand-name img {
  width: 200px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.navbar .content .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .content .navbar-nav li {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}

.navbar .content .navbar-nav li:last-child {
  -webkit-margin-end: 0px !important;
          margin-inline-end: 0px !important;
}

.navbar .content .navbar-nav li .nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0px;
  position: relative;
  z-index: 9;
}

.navbar .content .navbar-nav li .nav-link::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: var(--pirmary);
  bottom: 0;
  left: calc(50% - 50px);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: -1;
}

.navbar .content .navbar-nav li .nav-link:hover {
  color: var(--pirmary);
}

.navbar .content .navbar-nav li .nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header {
  width: 100%;
  padding: 300px 0px 150px 0px;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

header::after, header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

header::after {
  background: url("../images/header.jpg") center/cover no-repeat;
  z-index: -1;
  animation: pulsecust 20s linear infinite reverse;
}

header::before {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

header .content {
  width: 100%;
  position: relative;
  z-index: 99;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .content h1 {
  font-size: 35px;
  font-weight: 900;
  color: #fff;
  margin: 0px;
}

header .content p {
  color: #f7f7f7;
  font-size: 15px;
  font-weight: 500;
  margin: 20px 0px;
}

.about-us {
  width: 100%;
  padding: 70px 0px 100px;
  background-color: #fff;
  position: relative;
  z-index: 9;
}

.about-us::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/pattern.png") top left/300px 300px no-repeat;
  top: 0;
  left: 0;
  z-index: -1;
}

.about-us .content h2 {
  font-size: 25px;
  font-weight: 900;
  margin: 0px;
  color: #000;
}

.about-us .content p {
  color: #808080;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: justify;
  margin: 20px 0px;
}

.about-us .image-content {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 9;
}

.about-us .image-content::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 10px solid var(--secondary);
  bottom: -50px;
  left: -50px;
  z-index: -1;
}

.about-us .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  position: relative;
  z-index: 9;
  overflow: hidden;
}

.about-us .image-content .video-play {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  z-index: 99;
  border-radius: 50%;
}

.about-us .image-content .video-play::after {
  content: '';
  position: absolute;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  background-color: var(--pirmary);
  top: 0;
  left: 0;
  z-index: -1;
  animation: pulsecustOpacity 4s linear infinite reverse;
}

.about-us .image-content .video-play img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 9;
}

.features {
  width: 100%;
  padding: 50px 0px;
  background-color: #f9f9f9;
  position: relative;
  z-index: 99;
}

.features .heading h1 {
  color: var(--secondary) !important;
}

.features .heading p {
  color: #000;
}

.features::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/pattern.png") top left/300px 300px no-repeat;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.features .owl-stage {
  padding: 10px 0px;
  height: 100%;
}

.features .owl-item,
.features .owl-stage-outer {
  height: 100%;
}

.features .item {
  height: 100%;
}

.features .item .box {
  width: 100%;
  padding: 30px 15px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px rgba(32, 51, 83, 0.05);
          box-shadow: 0px 0px 10px rgba(32, 51, 83, 0.05);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  overflow: hidden;
}

.features .item .box.features-box {
  position: relative;
  z-index: 9;
  height: 100%;
  padding: 35px 15px;
}

.features .item .box.features-box::after, .features .item .box.features-box::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../images/quote.svg") center/contain no-repeat;
  opacity: .2;
}

.features .item .box.features-box::after {
  bottom: 0;
  left: 0px;
}

.features .item .box.features-box::before {
  top: 0;
  right: 0;
}

.features .item .box.features-box h2 {
  color: #203353;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 0px !important;
}

.features .item .box.features-box p {
  color: #808080;
}

.features .item .box.features-box:hover p {
  color: #808080;
}

.features .item .box img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  -webkit-filter: invert(18%) sepia(10%) saturate(3107%) hue-rotate(179deg) brightness(90%) contrast(93%);
          filter: invert(18%) sepia(10%) saturate(3107%) hue-rotate(179deg) brightness(90%) contrast(93%);
}

.features .item .box p {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px 0px;
}

.features .item .box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.features .item .box:hover img {
  -webkit-animation: storm .4s linear both;
          animation: storm .4s linear both;
}

.features .item .box:hover p {
  color: #203353;
}

.jobs {
  width: 100%;
  padding: 50px 0px;
  position: relative;
  z-index: 9;
  background-color: #fff;
}

.jobs::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/pattern.png") top left/300px 300px no-repeat;
  top: 0;
  left: 0;
  z-index: -1;
}

.jobs .box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  background-color: #f9f9f9;
}

.jobs .box img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.jobs .box .content {
  width: 100%;
  padding: 20px 15px;
  text-align: center;
}

.jobs .box .content h2 {
  color: #000;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

.jobs .box .content p {
  color: #808080;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8rem;
  margin: 0px !important;
}

.jobs .box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 0px 10px rgba(32, 51, 83, 0.03);
          box-shadow: 0px 0px 10px rgba(32, 51, 83, 0.03);
}

.jobs .box:hover h2 {
  color: var(--pirmary);
}

.partners {
  width: 100%;
  background-color: rgba(221, 221, 221, 0.3);
  padding: 30px 0px;
}

.partners .item img {
  width: 100%;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  opacity: .3;
}

.partners .item img:hover {
  opacity: 1;
}

.contact-us {
  width: 100%;
  padding: 50px 0px;
  background-color: #fff;
}

.contact-us .box-contain {
  width: 100%;
  padding: 20px 10px;
  border: 1px solid rgba(245, 179, 22, 0.1);
  background-color: rgba(245, 179, 22, 0.04);
  border-radius: 10px;
}

.contact-us .box-contain .contact-box {
  width: 100%;
  padding: 25px 0px;
  border-bottom: 1px solid rgba(245, 179, 22, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us .box-contain .contact-box img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact-us .box-contain .contact-box .content-box {
  width: calc(100% - 70px);
}

.contact-us .box-contain .contact-box h4 {
  color: #000;
  font-size: 20px;
  margin: 0px 0px 10px 0px;
  font-weight: 900;
}

.contact-us .box-contain .contact-box span {
  color: #121212;
  font-size: 15px;
  font-weight: 500;
}

.contact-us .box-contain .contact-box:last-child {
  border-bottom: 0px !important;
}

.contact-us .box-contain .contact-box:hover img {
  -webkit-animation: storm .3s linear both !important;
          animation: storm .3s linear both !important;
}

.contact-us .box-contain .contact-box:hover h4 {
  color: var(--secondary);
}

.contact-us .form-box {
  width: 100%;
  padding: 20px 10px;
  background-color: #fff;
  border: 1px solid rgba(32, 51, 83, 0.1);
  border-radius: 10px;
}

.contact-us .form-box .form-group {
  width: 100%;
  height: 47px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px !important;
}

.contact-us .form-box .form-group.text-area {
  height: 110px;
}

.contact-us .form-box .form-group.text-area img {
  top: 10px;
}

.contact-us .form-box .form-group.text-area .form-control {
  padding-top: 15px !important;
  resize: none;
}

.contact-us .form-box .form-group:last-child {
  margin-bottom: 20px !important;
}

.contact-us .form-box .form-group img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: calc(50% - 12px);
  right: 15px;
}

.contact-us .form-box .form-group .form-control {
  width: 100%;
  height: 100%;
  -webkit-padding-start: 49px;
          padding-inline-start: 49px;
  background-color: rgba(32, 51, 83, 0.06);
  border: 1px solid rgba(32, 51, 83, 0.03);
  border-radius: 6px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.contact-us .form-box .form-group .form-control::-webkit-input-placeholder {
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.contact-us .form-box .form-group .form-control:-ms-input-placeholder {
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.contact-us .form-box .form-group .form-control::-ms-input-placeholder {
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.contact-us .form-box .form-group .form-control::placeholder {
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.contact-us .form-box .form-group .form-control:focus, .contact-us .form-box .form-group .form-control:hover {
  border: 1px solid rgba(32, 51, 83, 0.5);
}

.contact-us .form-box .form-group:hover img {
  -webkit-animation: translateX 1s linear infinite;
          animation: translateX 1s linear infinite;
}

.contact-us .button-shape {
  width: 100% !important;
  height: 50px;
  background-color: var(--pirmary);
  border-radius: 10px;
  margin-top: 20px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 9;
  overflow: hidden;
  color: #fff;
}

.contact-us .button-shape::after, .contact-us .button-shape::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  left: 0px;
  background-color: var(--secondary);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: -1;
}

.contact-us .button-shape::before {
  top: 0;
}

.contact-us .button-shape::after {
  bottom: 0;
}

.contact-us .button-shape img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  -webkit-filter: invert(91%) sepia(64%) saturate(6636%) hue-rotate(191deg) brightness(141%) contrast(100%);
          filter: invert(91%) sepia(64%) saturate(6636%) hue-rotate(191deg) brightness(141%) contrast(100%);
}

.contact-us .button-shape span {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.contact-us .button-shape:hover::after, .contact-us .button-shape:hover::before {
  height: 55%;
}

.contact-us .button-shape:hover img {
  -webkit-animation: storm .3s linear both;
          animation: storm .3s linear both;
}

footer {
  width: 100%;
  padding: 70px 0px;
  background: #fff url("../images/footer.png") center/cover no-repeat;
}

footer .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .content .brand-name {
  width: 240px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .content p {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px;
}

footer .content .socail-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .content .socail-media li {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}

footer .content .socail-media li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #F5B316;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .content .socail-media li a img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(86%) sepia(44%) saturate(4280%) hue-rotate(351deg) brightness(101%) contrast(92%);
          filter: invert(86%) sepia(44%) saturate(4280%) hue-rotate(351deg) brightness(101%) contrast(92%);
}

footer .content .socail-media li a:hover {
  background-color: var(--secondary);
}

footer .content .socail-media li a:hover img {
  -webkit-animation: fadeInUp .4s linear both;
          animation: fadeInUp .4s linear both;
  -webkit-filter: invert(100%) sepia(2%) saturate(2378%) hue-rotate(186deg) brightness(109%) contrast(101%);
          filter: invert(100%) sepia(2%) saturate(2378%) hue-rotate(186deg) brightness(109%) contrast(101%);
}

footer .content .socail-media li:last-child {
  -webkit-margin-end: 0px !important;
          margin-inline-end: 0px !important;
}

@media (max-width: 999px) {
  .navbar.scrolled .navbar-nav {
    top: 90px !important;
  }
  .navbar .hamburger {
    display: block !important;
  }
  .navbar .navbar-nav {
    width: 100%;
    height: calc(100vh - 120px);
    position: absolute;
    top: 120px;
    right: -100%;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    padding: 20px 0px;
    background-color: #fff;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
  .navbar .navbar-nav.active-nav {
    right: 0px !important;
  }
  .navbar .navbar-nav .nav-item {
    width: 100% !important;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
  }
  .navbar .navbar-nav .nav-item:last-child {
    border: 0px !important;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    width: 100% !important;
    padding: 0px 0px 10px 0px;
    color: #000 !important;
  }
  .navbar .navbar-nav .nav-item .nav-link::after {
    display: none;
  }
  .navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--pirmary) !important;
  }
  header {
    padding: 150px 0px 70px !important;
  }
  .about-us, .jobs, .features {
    padding: 40px 0px !important;
  }
  .about-us::after, .jobs::after, .features::after {
    opacity: .3;
  }
  .about-us .image-content {
    height: 320px;
  }
  .about-us .image-content::after {
    left: -10px !important;
    bottom: -10px;
    border-width: 5px !important;
  }
}
/*# sourceMappingURL=style.css.map */